---
// Importaciones y configuración inicial
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";

// Función para obtener los caminos estáticos de los posts del blog
export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug }, // Devuelve solo las rutas necesarias
        props: post,
    }));
}

type Props = CollectionEntry<"blog">;

const post: Props = Astro.props;
const { Content } = await post.render();
const {
    data: { description, title, author, date, copyright, theme, tags },
} = post;

const slug = post.slug; // Asegúrate de obtener el slug
const jsDate = new Date(date);

const htmlDate = jsDate.toISOString().split("T")[0];

const metadata = {
    title,
    description: {
        meta: description,
        og: description,
    },
    canonical: `https://comidolar.com.ar/${slug}`,
    og: {
        image: `https://comidolar.com.ar/assets/img/opengraph/blog/${slug}.png`,
        video: `https://comidolar.com.ar/assets/img/opengraph/video.webm`,
        date,
        theme,
        tags,
    },
    blog: {
        author,
        date: htmlDate,
        copyright,
    },
};

const formattedDate = jsDate.toLocaleString("es-AR", {
    timeZone: "America/Argentina/Buenos_Aires",
    weekday: "long", // Día de la semana
    year: "numeric", // Año completo
    month: "long", // Nombre del mes
    day: "numeric", // Día del mes
    hour: "numeric", // Hora
    minute: "numeric", // Minuto
});
---

<Layout metadata={metadata}>
    <main class="markdown">
        <div class="relative mb-6">
            <img
                src={metadata.og.image}
                alt={`Post de ComiDolar titulado ${metadata.title}`}
                class="w-full h-64 object-cover rounded-lg shadow-lg"
            />
            <div class="absolute inset-0 bg-black opacity-30 rounded-lg"></div>
        </div>
        <header class="mb-4 p-4 flex items-center justify-between bg-white dark:bg-black/30 shadow-md rounded-lg">
            <div>
                <h3 class="text-sm font-semibold text-neutral-800 dark:text-white">
                    Escrito por: {metadata.blog.author}
                </h3>
                <time class="block text text-neutral-600 dark:text-neutral-400"
                    >{formattedDate}</time
                >
            </div>
            <img src="https://comidolar.com.ar/assets/img/favicon.webp" class="w-24 h-24 rounded-full bg-black/20 dark:bg-black/60">
        </header>
        <Content />
    </main>
</Layout>

<style>
    :root {
        --background-color: #f9f9f9; /* Color de fondo para modo claro */
        --text-color: #2d2d2e; /* Color de texto para modo claro */
        --link-color: #229ac5; /* Color de enlaces para modo claro */
        --highlight-color: #22c55e; /* Color para texto en negrita en modo claro */
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #1a1a1a; /* Color de fondo para modo oscuro */
            --text-color: #f9f9f9; /* Color de texto para modo oscuro */
            --italic-color: #e67e22; /* Color para texto en cursiva en modo oscuro */
        }
    }

    .markdown {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 auto; /* Centrar el artículo */
        padding: 20px; /* Espacio interno */
        background-color: var(--background-color); /* Color de fondo */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
        color: var(--text-color); /* Color de texto */

        h1,
        h2,
        h3 {
            color: var(--text-color); /* Color de los encabezados */
            margin-bottom: 5px; /* Espaciado debajo de los encabezados */
        }

        h1 {
            font-size: 2.25em; /* Tamaño del encabezado principal */
            font-weight: bold; /* Negrita */
        }

        h2 {
            font-size: 1.8em;
            opacity: .9;
        }

        h3 {
            font-size: 1.5em; /* Tamaño del tercer nivel de encabezado */
            margin-top: 20px; /* Espaciado superior */
            font-weight: bold;
            opacity: .8;
        }

        p {
            margin-bottom: 20px; /* Espaciado debajo de los párrafos */
            font-size: 1.05em;
            opacity: .7;
        }

        ul {
            list-style-type: disc; /* Estilo de lista */
            margin-left: 20px; /* Espacio a la izquierda */
            margin-bottom: 20px; /* Espaciado debajo de la lista */
        }

        li {
            margin-bottom: 10px; /* Espaciado entre ítems de lista */
        }

        strong {
            color: var(--highlight-color); /* Color para texto en negrita */
        }

        em {
            color: var(--italic-color); /* Color para texto en cursiva */
        }

        a {
            color: var(--link-color); /* Color para enlaces */
            text-decoration: none; /* Sin subrayado */
        }

        a:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }

        img {
            max-width: 100%; /* Ajustar imágenes al ancho del contenedor */
            height: auto; /* Mantener la proporción */
            margin: 20px 0; /* Espaciado vertical */
        }

        blockquote {
            border-left: 4px solid var(--highlight-color); /* Borde lateral */
            padding-left: 20px; /* Espacio interno */
            margin: 20px 0; /* Espaciado vertical */
            color: var(--text-color); /* Color del texto */
            font-style: italic; /* Cursiva */
        }
    }
</style>
