---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;
const post: Props = Astro.props;
const { Content } = await post.render();
const {
  data: { description, title, author, date, copyright, theme, tags, hideImage },
} = post;
const slug = post.slug;
const jsDate = new Date(date);
const htmlDate = jsDate.toISOString().split("T")[0];
const metadata = {
  title,
  description: {
    meta: description,
    og: description,
  },
  canonical: `https://comidolar.com.ar/${slug}`,
  og: {
    image: `https://comidolar.com.ar/assets/img/opengraph/blog/${slug}.png`,
    video: `https://comidolar.com.ar/assets/img/opengraph/video.webm`,
    date,
    theme,
    tags,
  },
  blog: {
    author,
    date: htmlDate,
    copyright,
  },
};
const formattedDate = jsDate.toLocaleString("es-AR", {
  timeZone: "America/Argentina/Buenos_Aires",
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
});
---

<Layout metadata={metadata}>
  <main class="markdown">
    {
      !hideImage && (
        <div class="relative mb-6">
          <img
            src={metadata.og.image}
            alt={`Post de ComiDolar titulado ${metadata.title}`}
            class="sm:h-[400px] w-full object-cover rounded-lg shadow-lg"
          />
          <div class="absolute inset-0 bg-black opacity-30 rounded-lg" />
        </div>
      )
    }
    <header
      class="mb-4 p-4 flex items-center justify-between bg-white dark:bg-black/30 shadow-md rounded-lg"
    >
      <div>
        <h3 class="text-sm font-semibold text-zinc-800 dark:text-white">
          Escrito por: {metadata.blog.author}
        </h3>
        <time class="block text text-zinc-600 dark:text-zinc-400"
          >{formattedDate}</time
        >
      </div>
      <img
        src="https://comidolar.com.ar/assets/img/favicon.webp"
        class="w-24 h-24 rounded-full bg-black/20 dark:bg-black/60"
      />
    </header>
    <Content />
  </main>
</Layout>
<style>
  :root {
    --background-color: #f9f9f9;
    --text-color: #2d2d2e;
    --link-color: #229ac5;
    --highlight-color: #22c55e;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #18181b;
      --text-color: #f9f9f9;
      --italic-color: #e67e22;
    }
  }
  .markdown {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    h1,
    h2,
    h3 {
      color: var(--text-color);
      margin-bottom: 5px;
    }
    h1 {
      font-size: 2.25em;
      font-weight: bold;
    }
    h2 {
      font-size: 1.8em;
      opacity: 0.9;
    }
    h3 {
      font-size: 1.5em;
      margin-top: 20px;
      font-weight: bold;
      opacity: 0.8;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.05em;
      opacity: 0.7;
    }
    ul {
      list-style-type: disc;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    strong {
      color: var(--highlight-color);
    }
    em {
      color: var(--italic-color);
    }
    a {
      color: var(--link-color);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    img {
      margin: 20px 0;
    }
    blockquote {
      border-left: 4px solid var(--highlight-color);
      padding-left: 20px;
      margin: 20px 0;
      color: var(--text-color);
      font-style: italic;
    }
  }
</style>
