---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/layout.astro";
import BlogPostCard from "../../../components/BlogPostCard.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const uniqueAuthors = [
    ...new Set(posts.map((post) => post.data.author.toLowerCase())),
  ];

  return uniqueAuthors.map((author) => ({
    params: { autor: author },
  }));
}

const posts = await getCollection("blog");

const { autor } = Astro.params;
const normalizedAuthor = autor.toLowerCase();
const capitalizedAuthor =
  normalizedAuthor.charAt(0).toUpperCase() + normalizedAuthor.slice(1);
const filteredPosts = posts.filter(
  (post) => post.data.author.toLowerCase() === normalizedAuthor
);

const metadata = {
  title: `Posts de ${capitalizedAuthor} | Comi Dólar`,
  description: {
    meta: `Posts escritos por ${capitalizedAuthor} en el blog oficial de Comi Dólar.`,
    og: `Posts escritos por ${capitalizedAuthor} en el blog oficial de Comi Dólar.`,
  },
  canonical: `https://comidolar.com.ar/blog/autor/${autor}`,
  og: {
    image: "https://comidolar.com.ar/assets/img/opengraph/blog.webp",
  },
  noindex: true,
};
---

<Layout metadata={metadata}>
  <main>
    <h1 class="text-4xl font-bold mb-4 text-center">
      Posts de {capitalizedAuthor}
    </h1>

    {
      filteredPosts.length > 0 ? (
        <div class="grid gap-6 justify-items-center sm:grid-cols-1 lg:grid-cols-2 ">
          {filteredPosts.map((post) => (
            <BlogPostCard
              title={post.data.title}
              description={post.data.description}
              date={post.data.date}
              author={post.data.author}
              theme={post.data.theme}
              tags={post.data.tags}
              slug={post.slug}
            />
          ))}
        </div>
      ) : (
        <p class="text-lg text-center">No se encontraron posts para {autor}.</p>
      )
    }
  </main>
</Layout>
