---
import Layout from "../layouts/layout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const metadata = {
  title: "Comi Dólar | Blog",
  description: {
    meta: "Blog oficial de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Encontrarás aquí las últimas noticias y anuncios sobre el dólar y sus ventajas.",
    og: "Blog oficial de Comi Dólar, la comisión de dólar del Colegio Nacional de Buenos Aires. Encontrarás aquí las últimas noticias y anuncios sobre el dólar y sus ventajas.",
  },
  canonical: "https://comidolar.com.ar/blog",
  og: {
    image: "https://comidolar.com.ar/assets/img/opengraph/blog.webp",
    video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
  },
};
---

<Layout metadata={metadata}>
  <main>
    <h1 class="text-4xl font-bold mb-4 text-center">Comi Dólar | Blog</h1>
    <p class="text-lg">
      Blog oficial de Comi Dólar, la comisión de dólar del Colegio Nacional de
      Buenos Aires. Encontrarás aquí las últimas noticias y anuncios sobre el
      dólar y sus ventajas.
    </p>

    <p class="my-6 text-xl">Últimos posteos:</p>

    <div class="grid gap-6 justify-items-center sm:grid-cols-1 lg:grid-cols-2">
      {
        posts.map((post) => (
          <BlogPostCard
            key={post.slug}
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            author={post.data.author}
            theme={post.data.theme}
            tags={post.data.tags}
            slug={post.slug}
            className="w-full max-w-[400px] h-[500px]"
          />
        ))
      }
    </div>
  </main>
</Layout>
