---
import Layout from "@/layouts/layout.astro";
import DolarCard from "@/components/DolarCard.astro";
import Lore from "@/components/Lore.astro";
import CarouselElement from "@/components/CarouselElement";
import ArticlePromote from "@/components/ArticlePromote.astro";

const metadata = {
  title: "Comi Dólar | Comisión de Dólar del CNBA",
  description: {
    meta: "Dólar Blue Hoy. Bienvenidos al sitio oficial de la Comisión de Dólar del Colegio Nacional de Buenos Aires (Comi Dólar). Cotización diaria Dólar Blue y Dólar Oficial.",
    og: "Bienvenidos al sitio oficial de la Comisión de Dólar del Colegio Nacional de Buenos Aires (Comi Dólar). Acá vas a encontrar diariamente la cotización tanto del Dólar Blue como del Dólar Oficial.",
  },
  canonical: "https://comidolar.com.ar",
  og: {
    image: "https://comidolar.com.ar/assets/img/opengraph/home.webp",
    video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
  },
};

let dolares = [];
try {
  const response = await fetch("https://dolarapi.com/v1/dolares");
  if (!response.ok) {
    throw new Error(`Error fetching data: ${response.statusText}`);
  }
  dolares = await response.json();
} catch (error) {
  console.error("Error fetching data:", error);
}

const brecha = ((dolares[1].venta - dolares[0].venta) / dolares[0].venta) * 100;
---

<Layout metadata={metadata}>
  <CarouselElement client:load />
  <main class="space-y-12 mt-12">
    <h1 class="text-zinc-600 dark:text-zinc-300">
      Comi Dólar | Comisión de Dólar del CNBA
    </h1>
    <ArticlePromote />
    <div
      class="flex items-center w-full sm:w-auto flex-wrap gap-6 justify-center"
    >
      {
        dolares.length > 0 ? (
          dolares.map((dolar) => (
            <DolarCard
              type={dolar.casa}
              sell={dolar.venta}
              buy={dolar.compra}
              date={dolar.fechaActualizacion}
              name={dolar.nombre}
            />
          ))
        ) : (
          <p>
            No se pudieron obtener los datos del dólar. Intente de nuevo más
            tarde.
          </p>
        )
      }
      <DolarCard
        type="brecha"
        sell={brecha}
        buy={1}
        date={dolares[0].fechaActualizacion}
        name="Brecha"
      />
    </div>
    <Lore />

    <section>
      <h4>Links utiles</h4>
      <a href="https://blackmaps.com.ar">BlackMaps (Sponsored)</a>
      <a href="https://backlinks1.vercel.app">EGBL (Sponsored)</a>
      <a href="https://texttohtml.online">Text to HTML (Sponsored)</a>
    </section>
  </main>
</Layout>