---
import LinkIcon from "./LinkIcon.astro";
const { href, title, badge, svg } = Astro.props;
---

<li>
  <a
    href={href}
    class="flex hover:scale-105 active:scale-90 transition duration-200 justify-between items-center p-2 text-zinc-900 rounded-lg dark:text-white hover:bg-zinc-100 dark:hover:bg-darkless group"
  >
    <div class="flex items-center">
      <LinkIcon title={title} />
      <span class="ms-3">{title}</span>
    </div>
    {
      badge && (
        <span class={`p-1 text-xs font-bold ${badge.bg} rounded-xl ${badge.text}`}>
          {badge.content}
        </span>
      )
    }
  </a>
</li>
