---
const { type, sell, buy, date, name } = Astro.props;
let color;
let url;
if (type === "oficial") {
    color = "#4d9e4f";
    url =
        "https://dolarapi.com/docs/argentina/operations/get-dolar-oficial.html";
} else if (type === "blue") {
    color = "#4d539e";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-blue.html";
} else if (type === "bolsa") {
    color = "#9e914d";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-bolsa.html";
} else if (type === "contadoconliqui") {
    color = "#4d9e91";
    url =
        "https://dolarapi.com/docs/argentina/operations/get-dolar-contadoconliqui.html";
} else if (type === "mayorista") {
    color = "#9e5a4d";
    url =
        "https://dolarapi.com/docs/argentina/operations/get-dolar-mayorista.html";
} else if (type === "cripto") {
    color = "#954d9e";
    url =
        "https://dolarapi.com/docs/argentina/operations/get-dolar-cripto.html";
} else if (type === "tarjeta") {
    color = "#1c2633";
    url =
        "https://dolarapi.com/docs/argentina/operations/get-dolar-tarjeta.html";
} else if (type === "brecha") {
    color = "#a39300";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-blue.html";
}
---

<article
    class="w-full sm:w-[300px] h-[250px] bg-white dark:bg-neutral-700 text-gray-700 dark:text-white border rounded-lg shadow"
    style={`border-color: ${color}; box-shadow: 0 4px 6px -1px ${color}, 0 2px 4px -1px ${color};`}
>
    <div
        style={`background-color: ${color}; height: 10px; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem`}
    >
    </div>
    <div class="p-5 flex flex-col justify-between h-full">
        <section>
            <a href={url}>
                <h5 class="mb-2 text-4xl sm:text-2xl font-bold tracking-tight">
                    {type === "contadoconliqui" ? "Contado con Liqui" : name}
                </h5>
            </a>
        </section>
        <section class="space-y-1">
        <p class="text-2xl sm:text-xl">
            {
                type !== "brecha" ? (
                    <>
                        Venta&colon; <strong>{sell.toFixed(2)}</strong>
                    </>
                ) : (
                    <strong>{sell.toFixed(2) + " %"}</strong>
                )
            }
        </p>
        {
            type !== "brecha" && (
                <p class="text-lg sm:text-md">
                    Compra: <strong>{buy.toFixed(2)}</strong>
                </p>
            )
        }
        </section>
        <section class="flex flex-col gap-1">
            <span class="bg-green-500/25 px-3 py-1 rounded-full">
                Actualizado: {
                    new Date(date).toLocaleString("es-ES", {
                        day: "2-digit",
                        month: "2-digit",
                        year: "numeric",
                        hour: "2-digit",
                        minute: "2-digit",
                    })
                }
            </span>

            {
                type === "tarjeta" ? (
                    <a
                        class="bg-[#1c2633] text-white px-3 py-1 rounded-full hover:bg-[#252c36] transition duration-200"
                        href="/calculadora"
                    >
                        Calculadora
                    </a>
                ) : (
                    ""
                )
            }
        </section>
    </div>
</article>
