---
const { type, sell, buy, date, name } = Astro.props;
let color;
let url;
if (type === "oficial") {
    color = "#4d9e4f";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-oficial.html"
} else if (type === "blue") {
    color = "#4d539e";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-blue.html"
} else if (type === "bolsa") {
    color = "#9e914d";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-bolsa.html"
} else if (type === "contadoconliqui") {
    color = "#4d9e91";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-contadoconliqui.html"
} else if (type === "mayorista") {
    color = "#9e5a4d";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-mayorista.html"
} else if (type === "cripto") {
    color = "#954d9e";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-cripto.html"
}
else if (type === "tarjeta") {
    color = "#1c2633";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-tarjeta.html"
}
else if (type === "brecha") {
    color = "#a39300";
    url = "https://dolarapi.com/docs/argentina/operations/get-dolar-blue.html"
}
---

<div
    class="w-full sm:w-[300px] h-[250px] bg-white border rounded-lg shadow"
    style={`border-color: ${color}; box-shadow: 0 4px 6px -1px ${color}, 0 2px 4px -1px ${color};`}
>
    <div
        style={`background-color: ${color}; height: 10px; border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem`}
    >
    </div>
    <div class="p-5 flex flex-col justify-between h-full">
        <a href={url}>
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                {(type === "contadoconliqui" ? "Contado con Liqui" : name)}
            </h5>
        </a>
        <p class="font-normal text-gray-700 dark:text-gray-400 text-xl">
            {
                type !== "brecha" ?
                <>
            Venta&colon; <strong>{sell.toFixed(2)}</strong>
            </>:
            <strong>{sell.toFixed(2)+" %"}</strong>
        }
        </p>
        {
            type !== "brecha" &&
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-md">
            Compra: <strong>{buy.toFixed(2)}</strong>
        </p>
        }
        <span class="bg-green-500/25 p-1 rounded-full"
            >Actualizado: {new Date(date).toLocaleString()}</span
        >
        {
        type === "tarjeta" ?
        <a class="bg-[#1c2633] text-white p-1 rounded-full hover:bg-[#252c36] transition duration-200" href="/calculadora">Calculadora</a> :
        ""
        }
    </div>
</div>
