---
import Layout from "@/layouts/layout.astro";
import Lore from "@/components/Lore.astro";
const metadata = {
  title: "Comi Dólar | Calculadora Dólar Tarjeta",
  description: {
    meta: "Calcula cuanto valdra tu compra con impuestos! Impuestos steam, Impuestos Juegos, Dolar Tarjeta, impuesto pais, percepciones. Todo lo que necesitas saber!",
    og: "Calcula cuanto valdra tu compra con impuestos! Impuestos steam, Impuestos Juegos, Dolar Tarjeta, impuesto pais, percepciones. Todo lo que necesitas saber!",
  },
  canonical: "https://comidolar.com.ar/calculadora",
  og: {
    image: "https://comidolar.com.ar/assets/img/opengraph/calculadora.webp",
    video: "https://comidolar.com.ar/assets/img/opengraph/video.webm",
  },
};

let dolares = [];

try {
  const response = await fetch("https://dolarapi.com/v1/dolares");
  if (!response.ok) {
    throw new Error(`Error fetching data: ${response.statusText}`);
  }
  dolares = await response.json();
} catch (error) {
  console.error("Error fetching data:", error);
}

const oficial = dolares[0].venta;
---

<Layout metadata={metadata}>
  <div class="flex justify-center overflow-x-hidden gap-1">
    <div class="hidden lg:block">
      <ins
        class="adsbygoogle"
        style="display:inline-block;width:120px;height:768px"
        data-ad-client="ca-pub-8853864974633365"
        data-ad-slot="8423742279"></ins>
      <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div>
      <main class="flex flex-col lg:flex-row items-start justify-center w-full gap-4 max-w-screen-xl mx-auto px-2 pt-[48px] lg:pt-0">
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8853864974633365"
          data-ad-slot="4837249855"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script is:inline>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <section
          id="calculadora"
          class="flex flex-col items-center relative p-4 bg-zinc-100/50 backdrop-blur-2xl dark:bg-darkless/50 rounded-lg sm:rounded-l-lg shadow-lg w-full max-w-md"
        >
          <header
            class="p-2 bg-green-500/50 w-full absolute top-0 rounded-t-lg flex justify-between items-center"
          >
            <p class="font-semibold">Ahora sin impuesto pais!</p>
            <a
              title="Post de ComiDolar titulado El impuesto pais fue eliminado, calculá tus compras! - ComiDolar"
              href="https://comidolar.com.ar/blog/eliminacion-impuesto-pais"
              class="hover:scale-110 transition-transform duration-300 ease-in-out"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <g fill="none">
                  <path fill="currentColor" fill-opacity="0.16" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"/>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M12 8h.008M12 16v-5m10 1c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10"/>
                </g>
              </svg>
            </a>
          </header>
          <h1 class="text-4xl font-bold mt-8 mb-4 text-center">Calculadora Dolar Tarjeta</h1>
          <h2 class="text-2xl mb-6 text-center">
            Introduce los valores en USD que desees convertir a pesos argentinos y la calculadora hará el resto!
          </h2>
          <form class="w-full space-y-4">
            <div class="origin">
              <label for="originalPrice" class="block text-lg font-medium mb-1">Precio en USD:</label>
              <input
                id="originalPrice"
                type="number"
                value="1"
                class="border border-zinc-300 dark:bg-zinc-700/50 rounded-t-lg w-full p-2 text-right appearance-none"
                min="0.5"
              />
              <div class="flex items-center gap-2 w-full bg-zinc-200/50 dark:bg-zinc-800/50 rounded-b-lg p-2">
                <input
                  id="isDigitalService"
                  type="checkbox"
                  checked
                  class="rounded-lg accent-green-500 cursor-pointer hover:scale-110 hover:accent-green-700 transition duration-300 ease-in-out"
                />
                <label for="isDigitalService">
                  Es un servicio digital? <span class="inline-block font-bold">--></span>
                </label>
                <a class="font-bold text-green-950 dark:text-green-500" href="/calculadora/servicios">Lista completa</a>
              </div>
            </div>
            <div class="final flex flex-col gap-2 rounded-lg p-2 bg-zinc-400/50 dark:bg-backgroundDark/50">
              <label for="finalPrice" class="block text-lg font-medium mb-1">Precio FINAL en ARS con Impuestos:</label>
              <input
                id="finalPrice"
                value={"$" + (oficial * 1.51).toFixed(2)}
                disabled
                class="border border-zinc-300 dark:bg-zinc-800/50 bg-zinc-200/50 rounded-lg w-full p-2 text-right"
              />
            </div>
          </form>
        </section>

        <!-- NUEVO BANNER ENTRE SECCIONES EN MOBILE -->
        <ins
          class="adsbygoogle block lg:hidden w-full my-2"
          style="display:block"
          data-ad-client="ca-pub-8853864974633365"
          data-ad-slot="4837249855"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script is:inline>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <section
          id="taxes"
          class="flex w-full flex-col gap-2 p-4 bg-zinc-200/50 dark:bg-zinc-800/50 rounded-lg sm:rounded-r-lg shadow-lg max-w-md"
        >
          <h3 class="text-xl">
            ¿Qué estoy pagando?
            <a
              href="https://steamcito.com.ar/impuestos-hoy"
              class="text-xs dark:text-green-400 dark:hover:text-green-500 hover:text-green-700 text-green-950">ℹ️ Mas info</a>
          </h3>
          <label for="ganancias">Percepción de Ganancias (30%)</label>
          <input
            disabled
            class="border border-zinc-300 dark:bg-zinc-700/50 bg-zinc-100/50 rounded-lg w-full p-2 text-right"
            id="ganancias"
            value={"$" + (oficial * 0.3).toFixed(2)}
          />
          <label for="iva">Iva Servicios Digitales (21%)</label>
          <input
            disabled
            class="border border-zinc-300 dark:bg-zinc-700/50 bg-zinc-100/50 rounded-lg w-full p-2 text-right"
            id="iva"
            value={"$" + (oficial * 0.21).toFixed(2)}
          />
          <div class="final flex flex-col gap-2 rounded-lg p-2 bg-zinc-400/50 dark:bg-backgroundDark/50">
            <label for="totaltax">Solo Impuestos (51%)</label>
            <input
              disabled
              class="border border-zinc-300 dark:bg-zinc-700/50 bg-zinc-100/50 rounded-lg w-full p-2 text-right"
              id="totaltax"
              value={"$" + (oficial * 0.51).toFixed(2)}
            />
            <label for="notax">Sin impuestos</label>
            <input
              disabled
              class="border border-zinc-300 dark:bg-zinc-700/50 bg-zinc-100/50 rounded-lg w-full p-2 text-right"
              id="notax"
              value={"$" + oficial.toFixed(2)}
            />
          </div>
        </section>
      </main>

      <!-- BANNERS EXTRA PARA MOBILE -->
      <div class="block lg:hidden w-full flex flex-col items-center gap-2 mt-4">
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8853864974633365"
          data-ad-slot="8423742279"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script is:inline>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <div class="hidden lg:block">
      <ins
        class="adsbygoogle"
        style="display:inline-block;width:120px;height:768px"
        data-ad-client="ca-pub-8853864974633365"
        data-ad-slot="8423742279"></ins>
      <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

  <!-- Anuncios debajo -->
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-8853864974633365"
    data-ad-slot="7216001187"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8853864974633365"
    data-ad-slot="4837249855"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <Lore page="calculadora" />

  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8853864974633365"
    data-ad-slot="4837249855"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <script is:inline data-astro-rerun define:vars={{ oficial }}>
    document.addEventListener("astro:page-load", () => {
      if (window.location.pathname === "/calculadora") {
        const originContainer = document.getElementById("originalPrice");
        const finalContainer = document.getElementById("finalPrice");
        const ivaContainer = document.getElementById("iva");
        const gananciasContainer = document.getElementById("ganancias");
        const noTaxContainer = document.getElementById("notax");
        const totalTaxContainer = document.getElementById("totaltax");
        const isDigitalServiceElement =
          document.getElementById("isDigitalService");

        if (
          !originContainer ||
          !finalContainer ||
          !ivaContainer ||
          !gananciasContainer ||
          !noTaxContainer ||
          !totalTaxContainer ||
          !isDigitalServiceElement
        ) {
          console.error(
            "🚨 Error: No se encontraron algunos elementos del DOM.",
          );
          return;
        }

        const handleInput = (value = 1) => {
          value = parseFloat(value) || 0;
          const isDigitalService = isDigitalServiceElement.checked;
          const ganancias = value * oficial * 0.3;
          const iva = value * oficial * (isDigitalService ? 0.21 : 0);
          return {
            original: value * oficial,
            ganancias: ganancias,
            iva: iva,
            final: value * oficial + ganancias + iva,
            tax: ganancias + iva,
          };
        };

        const setData = (data) => {
          const { original, ganancias, iva, final, tax } = data;
          gananciasContainer.value = `$${ganancias.toFixed(2)}`;
          ivaContainer.value = `$${iva.toFixed(2)}`;
          finalContainer.value = `$${final.toFixed(2)}`;
          noTaxContainer.value = `$${original.toFixed(2)}`;
          totalTaxContainer.value = `$${tax.toFixed(2)}`;
        };

        const debounce = (func, wait) => {
          let timeout;
          return (...args) => {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
          };
        };

        const debouncedSetData = debounce((value) => {
          setData(handleInput(value));
        }, 50);

        originContainer.addEventListener("input", (e) =>
          debouncedSetData(e.target.value),
        );

        isDigitalServiceElement.addEventListener("change", () => {
          const elements = [
            ivaContainer,
            document.querySelector(`label[for="${ivaContainer.id}"]`),
          ];
          debouncedSetData(originContainer.value);
          if (!isDigitalServiceElement.checked) {
            elements.forEach((element) => element.classList.add("hidden"));
            document.querySelector(`label[for="totaltax"]`).textContent =
              "Solo Impuestos (30%)";
          } else {
            elements.forEach((element) => element.classList.remove("hidden"));
            document.querySelector(`label[for="totaltax"]`).textContent =
              "Solo Impuestos (51%)";
          }
        });
      }
    });
  </script>
</Layout>
