---
const { metadata, bodyclass } = Astro.props;
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import "@/styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{metadata.title}</title>
    <link type="image/webp" rel="icon" href="/assets/img/favicon.webp" />
    {metadata.canonical && <link rel="canonical" href={metadata.canonical} />}
    <link rel="manifest" href="/manifest.json" />
    <meta name="description" content={metadata.description.meta} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/img/atouch/180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="assets/img/atouch/152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="assets/img/atouch/120.png"
    />
    <link rel="apple-touch-startup-image" href="assets/img/atouch/atouch.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ComiDólar Blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Comi Dólar" />
    <meta name="theme-color" content="#14b54f" />
    <meta property="og:type" content={metadata.blog ? "article" : "website"} />
    {
      metadata.cannonical && (
        <meta property="og:url" content={metadata.cannonical} />
      )
    }
    {metadata.title && <meta property="og:title" content={metadata.title} />}
    {
      metadata.description.og && (
        <meta property="og:description" content={metadata.description.og} />
      )
    }
    {
      metadata.og.image && (
        <meta property="og:image" content={metadata.og.image} />
      )
    }
    {
      metadata.og.video && (
        <meta property="og:video" content={metadata.og.video} />
      )
    }
    <meta property="twitter:card" content="summary_large_image" />
    {
      metadata.cannonical && (
        <meta property="twitter:url" content={metadata.cannonical} />
      )
    }
    {
      metadata.title && (
        <meta property="twitter:title" content={metadata.title} />
      )
    }
    {
      metadata.description.og && (
        <meta
          property="twitter:description"
          content={metadata.description.og}
        />
      )
    }
    {
      metadata.og.image && (
        <meta property="twitter:image" content={metadata.og.image} />
      )
    }
    <meta property="twitter:site" content="@comidolar" />
    <meta property="twitter:creator" content="@comidolar" />
    {
      metadata.blog && (
        <>
          <meta name="author" content={metadata.blog.author} />
          <meta name="copyright" content={metadata.blog.copyright} />
          <meta name="date" content={metadata.blog.date} />
          <meta property="article:author" content={metadata.blog.author} />
          {metadata.og.date && (
            <meta
              property="article:published_time"
              content={metadata.og.date}
            />
          )}
          {metadata.og.theme && (
            <meta property="article:section" content={metadata.og.theme} />
          )}
          {metadata.og &&
            metadata.og.tags.map((tag) => (
              <meta property="article:tag" content={tag} />
            ))}
        </>
      )
    }

    {metadata.noindex && <meta name="robots" content="noindex" />}

    <ClientRouter />
    <LoadingIndicator color="#0e9f6e" height="4px" threshold={10} />
  </head>
  <body
    transition:animate="fade"
    class={`${bodyclass ? bodyclass : ""} bg-background dark:bg-backgroundDark`}
  >
    <Header>
      <slot />
      <Footer />
    </Header>
    <script src='/analytics/biasml.min.js' data-astro-rerun data-host="https://biasml.com" data-dnt="false" id="ZwSg9rf6GA" async defer></script>>
    <script src='/analytics/beacon.min.js' data-astro-rerun data-cf-beacon='{"token": "4536a67fe2714c37845c5aaadcd0f4d2"}' defer></script>
    <style is:global>
      * {
        -webkit-tap-highlight-color: transparent;
      }
      :root .astro-loading-indicator {
        background: linear-gradient(
          to right,
          #12f6aa,
          #0e9f6e,
          #0e9f6e,
          #12f6aa
        );
        background-size: 300% 300%;
        animation: loadingBar 1s linear infinite;
      }

      @keyframes loadingBar {
        from {
          background-position: 0%;
        }
        to {
          background-position: 100%;
        }
      }
    </style>
  </body>
</html>
